---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) { section.page-header {padding: 1rem 6rem;} }
@media screen and (min-width: 42em) and (max-width: 64em) { section.page-header { padding: 1rem 4rem; } }
@media screen and (max-width: 42em) { section.page-header { padding: 1rem 1rem; } }